<nav>
  <ul>
    <li><strong>Study</strong></li>
    <li><a href="/study">Overview</a></li>
    <li><a href="/study/courses">Courses</a></li>
    <li><span>Pathways (coming)</span></li>
  </ul>
</nav>
