<nav>
  <ul>
    <li><strong>Community</strong></li>
    <li><a href="/community">Overview</a></li>
    <li><span>Participation (coming)</span></li>
    <li><span>Resources (coming)</span></li>
  </ul>
</nav>
