<nav>
  <ul>
    <li><strong>Library</strong></li>
    <li><a href="/library">Overview</a></li>
    <li><span>By Scripture (coming)</span></li>
    <li><span>By Category (coming)</span></li>
  </ul>
</nav>
