<nav>
  <ul>
    <li><strong>Library</strong></li>
    <li><a href="/library">Overview</a></li>
    <li>
      <a href="/library/scripture/smrti/itihasa/bhagavad-gita">
        Bhagavad Gītā
      </a>
    </li>
  </ul>
</nav>
