---
import BaseLayout from "./BaseLayout.astro";
import CommunitySidebar from "@/components/community/CommunitySidebar.astro";

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <div style="display:flex; gap:2rem;">
    <aside>
      <CommunitySidebar />
    </aside>

    <main>
      <slot />
    </main>
  </div>
</BaseLayout>
