---
import BaseLayout from "./BaseLayout.astro";
import GuidanceSidebar from "@/components/guidance/GuidanceSidebar.astro";

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <div style="display:flex; gap:2rem;">
    <aside>
      <GuidanceSidebar />
    </aside>

    <main>
      <slot />
    </main>
  </div>
</BaseLayout>
