<nav>
  <ul>
    <li><strong>Guidance</strong></li>
    <li><a href="/guidance">Overview</a></li>
    <li><span>Questions (coming)</span></li>
    <li><span>Teachings (coming)</span></li>
  </ul>
</nav>
